@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "GameGuideDetail";
    var apiUrl = Context.Session.GetString("ApiUrl");
    var imgUrl = Context.Session.GetString("ImgUrl");
}

<style>
    #GameGuide img {
        width: 100%;
    }
</style>

<div class="header guide_header">
    <div class="top_left"><i class="pe-7s-angle-left"></i></div>
    <div class="top_center TopTitle">How to play</div>
    <div class="top_right"><i class="pe-7s-close"></i></div>
</div>

<div id="guide_Container">
    <div class="col-md-12" id="GameGuide"></div>
</div>

<input type="hidden" name="Referer" id="Referer" value="@ViewBag.Referer" />

@section Scripts{
<script id="GameGuide_Tmpl" type="text/x-tmpl">
    {{if gg_file1 != null}}
    <div class='card'><div class='content'><img src="@imgUrl/UpFiles/GameGuid/${gg_file1}"></div></div>
    {{/if}}

    {{if gg_file2 != null}}
    <div class='card'><div class='content'><img src="@imgUrl/UpFiles/GameGuid/${gg_file2}"></div></div>
    {{/if}}
</script>

    <script>

        $(function () {
            jsonDataLoad();
        });

        function jsonDataLoad() {
            $.ajax({
                url: "/Cmd/GetJsonRead",
                type: 'POST',
                data: { "filePath": "JsonData", "fileName": "gGameGuide.json", "nLan": "@ViewBag.nLan" },
                success: function (data) {
                    if (data.length > 0) {
                        $(".TopTitle").text(data[0].TopTitle);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("JsonData Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                },
                complete: function () {
                    GameGuide();
                }
            });
        }

        function GameGuide() {

            var allData = {
                "lan_idx": "@ViewBag.nLan",
                "sbGtype": "@ViewBag.nGtype",
                "gg_idx": "@ViewBag.gg_idx"
            };

            $.ajax({
                url: "@apiUrl/Home/GetGameGuide",
                type: 'POST',
                data: allData,
                success: function (data) {
                    if (data.length > 0) {
                        $("#GameGuide_Tmpl").tmpl(data).appendTo("#GameGuide");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("GameGuide Error \n" + textStatus + " : " + errorThrown)
                }
            });
        }

    </script>
}

