@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ServiceCenter";

    var apiUrl = Context.Session.GetString("ApiUrl");
}

<div class="header seList_header">
    <div class="top_left"><i class="pe-7s-angle-left"></i></div>
    <div class="top_center TopTitle">Inquiries History</div>
    <div class="top_right"><i class="pe-7s-close"></i></div>
</div>

<div class="col-md-12 seListTopBtn">
    <div class="btn Createbtn">Contact us</div>
</div>

<style>
    thead {
        background-color: #fff;
    }

    td {
        text-align: center;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="table-responsive" id="Question_Container">
        </div>
    </div>
</div>

<input type="hidden" name="Referer" id="Referer" value="@ViewBag.Referer" readonly="" />

@section scripts{

    <script id="Question_Container_Tmpl" type="text/x-tmpl">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td class="text-center">${headTitle1}</td>
                    @*<td class="text-center">${headTitle2}</td>*@
                    <td class="text-center">${headTitle3}</td>
                    <td class="text-center">${headTitle4}</td>
                    <td class="text-center">${headTitle5}</td>

                </tr>
            </thead>
            <tbody id="Question_List">
                <tr>
                    <td colspan="5">${errMsg}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="Question_List_Tmpl" type="text/x-tmpl">
        <tr>
            <td><div class="btn btn-sm btn-danger" onclick="javascript: location.href='/Home/ServiceCenterCUD?sUserID=${UserID}&sb_idx=${sb_idx}&conType=D&nGtype=${sb_gtype}&nLan=@ViewBag.nLan' " ;>GO</div></td>
            @*<td class="text-center">${sb_gtypeval}</td>*@
            <td class="text-center">${sb_qtypeval}</td>
            <td class="text-center">${sb_useval}</td>
            <td class="text-center">${GetDate02(sb_Adate)}</td>
        </tr>
    </script>

    <script>

        var apiUrl = "@apiUrl";

        $(function () {
            if ("@ViewBag.sUserID" == "") {
                location.href = "/home/ServiceCenterCUD?sb_idx=0&conType=C&nGtype=@ViewBag.nGtype&nLan=@ViewBag.nLan";
            } else {
                jsonDataLoad();
                //serviceCenterList();
            }
        });

        function serviceCenterList() {
            var mParams = {
                "lan_idx": "@ViewBag.nLan",
                "conType": "User",
                "sbUserID": "@ViewBag.sUserID",
                "PageSize": 20,
                "PageNo": 1,
                "sbGtype": "@ViewBag.nGtype",
                "sKey": "",
                "sKey1": "",
                "sVal": "",
                "sVal1": "",
            }

            $.ajax({
                //url: "/Cmd/GetServiceCenter",
                url: apiUrl+"/Home/GetServiceCenter",
                type: 'POST',
                data: mParams,
                success: function (data) {
                    if (data.item2 > 0) {
                        $("#Question_List").text("");
                        $("#Question_List_Tmpl").tmpl(data.item1).appendTo("#Question_List");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        function jsonDataLoad() {
            $.ajax({
                url: "/Cmd/GetJsonRead",
                type: 'POST',
                data: { "filePath": "JsonData", "fileName": "gServiceCenter.json", "nLan": "@ViewBag.nLan"},
                success: function (data) {
                    if (data.length > 0) {
                        $("#Question_Container").text("");
                        $("#Question_Container_Tmpl").tmpl(data).appendTo("#Question_Container");
                        $(".TopTitle").text(data[0].TopTitle);
                        $(".Createbtn").text(data[0].Btn_Question);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                },
                complete: function () {
                    serviceCenterList();
                }
            });
        }

        $(".Createbtn").click(function () {
            location.href = "/Home/ServiceCenterCUD?sb_idx=0&sUserID=@ViewBag.sUserID&conType=C&nGtype=@ViewBag.nGtype&nLan=@ViewBag.nLan";
        });

    </script>
}

