
@{
    ViewData["Title"] = "GameNotice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>게임 공지사항
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">게임공지</div>
                        <div class="panel-body">
                            <div class="col-lg-8">
                                <input type="text" name="Msg" id="Msg" class="form-control" placeholder="게임공지 내용입력..." value="" />
                            </div>
                            <div class="col-lg-1">
                                <input type="number" name="Ver" id="Ver" class="form-control" placeholder="100" value="" />
                            </div>
                            <div class="col-lg-2">
                                <select name="IsCheck" id="IsCheck" class="form-control">
                                    <option value="0">텍스트만</option>
                                    <option value="1">접속불가</option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                                <div class="btn btn-primary" onclick="gameNotice(1)">공지변경</div>
                            </div>
                        </div>
                        <div class="panel-footer" style="color: red;">
                            1. 콤보박스 중 서버점검은 유저가 접속을 할 수 없게 설정하는 기능임으로 변경시 체크를 꼭 하셔야 합니다.<br />
                            2. Ver의 경우 개발사에서 받은 버전의 값을 입력하셔야 하며, 임의로 변경시 업데이트를 진행하라는 메세지가 나타납니다.
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">게임 긴급 공지</div>
                        <div class="panel-body">
                            <div class="col-lg-8">
                                <input type="text" name="Notice" id="Notice" class="form-control" placeholder="게임공지 내용입력..." value="" />
                            </div>
                            <div class="col-lg-4">
                                <div class="btn btn-primary" onclick="gameNoticeEm(1)">긴급변경</div>
                            </div>
                        </div>
                        <div class="panel-footer" style="color: red;">
                            1. 긴급공지는 사용하지 않을 경우에 텍스트를 모두 지우시면 됩니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
<input type="hidden" name="ad_idx" id="ad_idx" class="form-control" value="@ViewBag.ad_idx" readonly="readonly" />
<input type="hidden" name="ad_ip" id="ad_ip" class="form-control" value="@ViewBag.ad_ip" readonly="readonly" />
@section Scripts{
    <script>

        $(function () {
            gameNotice(0);
            gameNoticeEm(0);
        });

        function gameNotice(nType) {

            var pData = {
                "IsCheck": $("#IsCheck").val(),
                "Ver": $("#Ver").val(),
                "Msg": $("#Msg").val(),
                "Ntype": nType,
                "ad_idx": "@ViewBag.ad_idx",
                "ad_ip": "@ViewBag.ad_ip"
            };

            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/SetGameNotice",
                type: 'POST',
                data: pData,
                success: function (data) {
                    if (nType == 0) {
                        if (data.length != 0) {
                            $("#Ver").val(data[0].Ver);
                            $("#IsCheck").val(data[0].IsCheck);
                            $("#Msg").val(data[0].Msg);
                        }
                    } else {
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            gameNotice(0);
                        }
                    }

                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        function gameNoticeEm(nType) {

            var pData = {
                "Notice": $("#Notice").val(),
                "Ntype": nType,
                "ad_idx": "@ViewBag.ad_idx",
                "ad_ip": "@ViewBag.ad_ip"
            };

            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/SetGameNoticeEmergency",
                type: 'POST',
                data: pData,
                success: function (data) {
                    if (nType == 0) {
                        if (data.length != 0) {
                            $("#Notice").val(data[0].Notice);
                        }
                    } else {
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            gameNoticeEm(0);
                        }
                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

    </script>
}